$bgColor: #EAEAEA;
$text: #fff;
$secondBg: #FFFFFF;
$thirdBg: #F2F2F2;
$gainsboro: #DDD;
$mainBg: #F8F8F8;
$textLight: #B5B6BC;
$textGray: #7E7E82;
$aqua: #41F6D7;
$lightGreen: #B8FFEC;
$textDark: #1B1C21;
$btnColor: #FF3E79;